sudo: required #관리자 권한 갖기

language: generic   #사용할 언어 / 플랫폼 선택

services:   
  - docker    #도커 환경 구성

before_install:   #스크립트를 실행할 수 있는 환경 구성
  - echo "start Creating an image with dockerfile"
  - docker build -t wnwjq462/docker-react-app -f Dockerfile.dev . #Build 진행

script:
  - docker run -e CI=true wnwjq462/docker-react-app npm run test -- --coverage
  # -e CI=true 는 travis 사용 시 필요한 옵션, test 진행

after_success:
  - echo "Test Success"
  #테스트 성공 후에 할 일